body {
    padding: 60px 12px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
}

.carousel-bg {
    background: #0009;
}

.icon {
    height: 100px;
}

.homeQuote {
    background: url(./img/bg-quote.jpg) center center;
    background-size: cover;
}

@media (max-width: 768px) {
    .homeQuote blockquote p {
        font-size: 2.5rem;
    }

    body {
        padding: 0px 12px;
    }

    .fixed-top {
        position: relative;
    }
}